/* Customize pagination color */
.swiper-pagination-bullet {
  background-color: #fff; /* Change to your desired color */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #f7c05c; /* Change to your desired active color */
  opacity: 1;
}

/* @keyframes zoomInBg {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.bg-zoom {
  animation: zoomInBg 5s linear infinite alternate;
  transition: transform 5s ease-in-out;
} */
